$color-background: #fff;
$color-text: #000;
$color-theme: #ddd;
$color-theme-inverted: #000;

$font-family: 'Roboto', sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
