.message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;

  &__avatar {
    flex: 0 0 auto;
    margin-right: 8px;
    display: inline-block;
  }

  &__text {
    flex: 1 1 auto;
    display: block;
  }
}
